.logo{
    height: 70px;
    padding-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.two{
    display: flex;
    align-items: center;
    gap: 20px;
}
.three{
    display: flex;
    gap: 10px;
    align-items: center;
}
.two p{
    color: #31363F;
    font-size: 18px;
}
.search-style{
    border: 2px solid #FFAF45;
    height: 40px;
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 8px;
    border-radius: 8px;
}
.searh-input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-height{
    font-size: 20px;
    color: #FFAF45;
}
.signbtnStyle{
    background-color: #FFAF45;
    border: none;
    border-radius: 8px;
    height: 40px;
    color: white;
    width: 100px;
}
.signbtnStyle:hover{
    background-color: transparent;
    color: #FFAF45;
    border: 2px solid #FFAF45;
    transition: 0.2s;
    cursor: pointer;
}
.one{
    width: 300px;
}